* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Inter', sans-serif;
}

body, html{
  height: 100%;
  margin: 0;
}

#root { 
  height: 100%;
}

.leaflet-map {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  z-index: 1;
}

.details-container {
  overflow-y: auto;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 50%; 
  z-index: 0; 
}

.resto-page__details {
  margin: 2rem;
}

.resto-page__details h3 {
  margin-top: 3rem;
  color: #9c5935;
}

.resto-page__details hr {
  margin-top: 2px;
  margin-bottom: 2rem;
  color: #9c5935;
  border-radius: 5px;
  border-width: 3px;
}

.address 
.priceRange {
  font-size: 0.4rem; 
}

.card-text {
  font-size: 0.8rem;
}

.priceRange {
  color: #8CB359;
  font-weight: 600;
}

/* .resto-item {
  border:#D6D6E7 !important;
} */

.card-price {
  color: #69b359;
  font-size: 1rem;
  font-weight: 600;
}

.card-col {
  border: #282c34;
}

.card-button {
  margin-top: 10px;
  align-items: center;
  border: none !important;
  appearance: none;
  background-color: #FCFCFD !important;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset !important;
  box-sizing: border-box;
  color: #36395A !important;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.card-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.card-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.card-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.popup-content {
  font-family: 'Inter', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
